.container{
    margin-top: 3rem;
    padding: 2rem 1rem;
    /* background-color: red; */
}
.left{
    float: left;
    /* background-color: red; */
    margin-left: 0rem;
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
    margin-top: 2.8rem;
}
.left img{
    margin-left:0rem;
}
.right{
    margin-right: 0rem;
    margin-left: 6rem;
    /* background-color: blue; */
}
@media screen and (max-width:1100px){
    .left{
        margin-right: 3rem;
        margin-left: 0rem;
    }
    .right{
        margin-right: 0rem;
    }
}
@media screen and (max-width:1000px){
    .left{
        margin-right: 4rem;
        margin-left: 0rem;
    }
    .right{
        margin-right: 0rem;
        margin-left: 3rem;
    }
}
@media screen and (max-width:900px){
    .left{
        margin-right: 3rem;
        margin-left: 0rem;
        margin-top: 1rem;
    }
    .right{
        margin-right: 0rem;
        margin-left: 3rem;
    }
}
@media screen and (max-width:800px){
    .left{
        margin-right: 1rem;
        margin-left: 0rem;
        margin-top: 1rem;
    }
    .right{
        margin-right: 0rem;
        margin-left: 1rem;
    }
}
@media screen and (max-width:700px){
    .left{
        width:75%;
        height: 250px;
        margin: auto;
    }
    .left img{
        margin-top: 0rem;
    }
    .right{
        margin-right: 0rem;
        margin-left: 0rem;
        margin-top: 2rem;
    }
}