<header>
        <div class="header display"> 
        <div class="head_titel">
            <i class="fas fa-sun"></i>
            <a href="/">Weather App</a>
            <i class="fas fa-sun"></i>
        </div>
        <div class="head_link_page animation right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <div class="hide_menu">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <button class="open_menu"><i class="fas fa-bars"></i></button>
    </div>
    </header>